#contenedor{
    /*width: 100%;
    height: 100%;*/
    background-color: gray;
    margin: auto;
}

#cabecera{
    background-color: red;
    width: 98%;
    border: 10px solid black;
    margin: 10px;

}
#menu{
    float: left;
    background-color: green;
    height: 100px;
    width: 20px;
    margin: 10px;
    border: 10px solid black;

}
#contenido{
    background-color: purple;
float: left; 
}
#principal{
    background-color: blue;
    float: left;
    height: 400px;
    width: 500px;
    margin: 10px;
    border: 10px solid black;

}
#secundario{
    background-color: orangered;
    float: left;
    height: 400px;
    width: 500px;
    margin: 10px;
    border: 10px solid black;

}
#pie{
    background-color: yellow;
    width: 98%;
    clear: both;
    margin: 10px;
    border: 10px solid black;
}
.limpiar{
    clear: both;
}