<!--The content below is only a placeholder and can be replaced.-->

<header>
  <h1>Bienvenidos a la tajeta de presentación</h1>
</header>
<section>
    <div class="input_area">
        Nombre:<input [(ngModel)]="name" [readonly]="isDisabled" class="input_text" />
    </div>
    <img class="avatar" src="https://source.unsplash.com/category/nature/120x120">

    <div class="input_area">
        Trabajo:<input  [(ngModel)]="position" [readonly]="isDisabled" id="algo" class="input_text" />
    </div>

</section>
<footer>
  <button (click)="saveEvent()" class="save_button">{{buttonText}}</button>
  <button (click)="showInfomation()" >Show Information</button>
  <button (click)="reset()" >Reset</button>

</footer>
<router-outlet></router-outlet>
