{% block body %}

    {% for tabla_ejemplo in array_tabla_entidad %}

        <a href="{{ path('listadoPersonal', {'id': tabla_ejemplo.id }) }}"> <li>
           
                <label>{{tabla_ejemplo.id}}-></label>
          
            <b>Nombre:</b>
            {{ tabla_ejemplo.nombre }}
        </li>
  </a>
    {% endfor %}
    <a href="listado">Listado Descripción</a>

{% endblock %}