body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: #dfdfdf;
}

header {
  font-size: 18px;
}

#myNavbar {
  float: right;
}

footer {
  overflow: hidden;
  background-color: #011130;
}


.div_button {
  float: right;
  color: white;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

.links,
.current {
  flex-direction: row;
  text-align: center;


}

a.current:link,
a.current:visited {
  border-bottom: 1px solid #dfdfdf;
}


#logo {
  float: left;
  margin-left: -20px;
}

.navbar-header,
.nav navbar-nav,
.container-fluid,
.navbar-inverse {
  background-color: #011130;
}


.links {
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  padding-top: 2px;
}


.navbar-inverse .navbar-nav>.current>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.current>a:focus, #current>a:focus, #current>a {
  border-bottom-style: groove;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  color: white;
}

/* DROP DOWN*/
.marginBottom-0 {
  margin-bottom: 0;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;

}


.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: black;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #A9E7FF;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
  
}

/* DROPDOWN*/

.instalaciones {
  flex-direction: row;
  font-size: 18px;
  font-weight: bold;
}

/* contenedor aactividades y descripción*/
section > .container-fluid {
  background-color: #9DBFEF;
}


footer * {
  color: white;
  padding: 5px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  bottom: 0;
}

#textFooter {
  float: right;
}


/*MAP*/
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

